.topNavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
}

#Busqueda{
    height: 40px;
    width: 700px;
}

.subNavBar{
    background-color: #232f3e;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavBarLink{
    text-decoration: none;
    color: white;
    font: normal 30px Arial;
    margin-right: 10px;
}    

.NavBarLink:hover{
    color: #131921;
}   

.NavBar h1{
    padding-top: 5px;
    color: white;
    padding-left: 20px;
}

#carrito{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.Cart{
    color: white;
    padding-right: 15px;
}

